<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cryptoPlay - Crypto Simulator</title>
  <link rel="icon" href="static/favicon.ico" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-content">
      <img src="static/logo.png" alt="cryptoPlay Logo" class="logo">
      <h1 style="color:white;">cryptoPlay</h1>
      <p>Crypto Simulator</p>
    </div>
  </header>

  <main>
    <section>
      <div class="content">
        <h2>Unleash the Potential of Cryptocurrency</h2>
        <p>Discover a world of possibilities with cryptoPlay, the ultimate crypto simulator. Dive into the exciting realm of digital currencies and explore their market dynamics without any risk.</p>
      </div>
      <div class="button-group">
        <a href="/" class="button">Sign In</a>
        <a href="/signup" class="button">Sign Up</a>
      </div>
      <div class="image-group">
        <img src="static/bitcoin.png" alt="Bitcoin">
        <img src="static/ethereum.png" alt="Ethereum">
      </div>
      <div class="additional-content">
        <h3>Why Choose cryptoPlay?</h3>
        <p>cryptoPlay offers a unique and immersive experience for crypto enthusiasts:</p>
        <ul>
          <li>Simulate cryptocurrency investments without real financial risk</li>
          <li>Stay up-to-date with real-time market data and trends</li>
          <li>Explore a wide range of cryptocurrencies and their performance</li>
          <li>Learn and practice trading strategies in a safe environment</li>
          <li>Compete with friends and other users in virtual trading competitions</li>
        </ul>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 cryptoPlay. All rights reserved.</p>
  </footer>
</body>

</html>
